.start {
  /* margin-left: 200px; */
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "title";
  src: url("fonts/NanumBarunpenR.ttf");
}
@font-face {
  font-family: "title2";
  src: url("fonts/IM_Hyemin-Regular.ttf");
}
@font-face {
  font-family: "logo";
  src: url("fonts/Urbanist-ExtraLight.ttf");
}

.logo {
  font-family: "logo";
  font-size: 30px;
  /* margin-top: 100px; */
  /* margin-bottom: 70px; */
}
.start_button {
  background-color: white;
  border: 3;
  width: 210px;
  height: 40px;
  font-family: "title";
  font-size: 17px;
}

.logo2 {
  font-family: "logo";
  font-size: 30px;
  /* margin-top: 100px; */
  /* margin-bottom: 70px; */
}

.title {
  font-family: "title";
  font-size: 20px;
}

.question {
  display: flex;
  width: 380px;
  justify-content: center;
  align-content: center;
  font-family: "title2";
  font-size: 23px;
  font-weight: bold;
  line-height: 120%;
}

.button {
  background-color: white;
  margin-right: 30px;
  width: 300px;
  height: 60px;
  font-family: "title2";
  font-size: 17px;
  border: 3;
}

.body {
  font-family: "title2";
  font-size: 20px;
}

.footer {
  position: fixed;
  margin-top: 60vh;
}
