@font-face {
  font-family: "title";
  src: url("fonts/NanumBarunpenR.ttf");
}
@font-face {
  font-family: "title2";
  src: url("fonts/IM_Hyemin-Regular.ttf");
}
@font-face {
  font-family: "logo";
  src: url("fonts/Urbanist-ExtraLight.ttf");
}
.outer {
  /* min-height: 100vh;
  height: 100%;
  background-image: url("components/img/배경화면1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; */
  text-align: center;
}

.inner {
  display: inline-block;
}

.logo {
  font-family: "logo";
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 180px;
}

.question {
  display: flex;
  width: 380px;
  font-family: "title2";
  font-size: 30px;
  font-weight: 1000;
  text-align: left;
  line-height: 150%;
  padding-bottom: 50px;
  /* color: #5e454b; */
}

.button {
  background-color: #f7d59c;
  margin-right: 30px;
  width: 300px;
  height: 60px;
  font-family: "title2";
  font-size: 17px;
  border: 3;
  cursor: pointer;
}

.footer {
  padding-top: 100px;
  font-family: "title";
  font-size: 25px;
  color: #5e454b;
}
