/* @font-face {
  font-family: "title";
  src: url("fonts/GodoM.ttf");
} */
@font-face {
  font-family: "title2";
  src: url("fonts/Cafe24Dongdong.ttf");
}
@font-face {
  font-family: "answer";
  src: url("fonts/IM_Hyemin-Regular.ttf");
}
@font-face {
  font-family: "logo";
  src: url("fonts/Urbanist-ExtraLight.ttf");
}
.outer {
  background: linear-gradient(to bottom, #ffecd2, #fcb69f);
  height: 100vh;
  /* background-attachment: fixed; */
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  animation: slide 1s ease-in-out 0s 1 normal forwards;
}

/* .outer::after {
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
} */
@keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.inner {
  height: 100%;
  /* background-color: #d0f8ec; */
  /* height: 100%; */
  display: inline-block;
}

.logo {
  font-family: "logo";
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.question {
  display: flex;
  padding-left: 55px;
  width: 400px;
  font-family: "title2";
  font-size: 28px;
  /* font-weight: 1000; */
  text-align: left;
  line-height: 150%;
  /* animation: slide 1s ease-in-out 0s 1 normal forwards; */
  /* text-decoration: linear-gradient(to top, yellow, red); */
}
.btn_0 {
  position: absolute;
  top: 430px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.btn_1 {
  position: absolute;
  top: 530px;
  left: 50%;
  transform: translate(-50%, 0);
}
.button {
  white-space: pre-wrap;
  background-color: white;
  border: 0;
  border-color: wheat;
  padding-left: 20px;
  padding-right: 20px;
  width: 350px;
  height: 80px;
  font-family: "answer";
  text-align: left;
  font-size: 20px;
  font-weight: 800;
  line-height: 150%;
  cursor: pointer;
  border-radius: 20px;
}

.footer {
  padding-top: 100px;
}

.prevButton {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 525px;
  margin-left: -205px;
  width: 100px;
  height: 40px;
  font-family: "title2";
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
  border: 0;
}
/* .back {
  padding-top: 5px;
  font-size: 30px;
} */

.progress-div {
  background-color: white;
  border-radius: 0.5rem;
}

.progress {
  position: absolute;
  top: 700px;
  margin-left: 50px;
  background-color: black;
  height: 10px;
  border-radius: 1rem;
}
