@font-face {
  font-family: "title";
  src: url("fonts/SeoulHangangB.ttf");
}
@font-face {
  font-family: "title2";
  src: url("fonts/IM_Hyemin-Regular.ttf");
}
@font-face {
  font-family: "logo";
  src: url("fonts/Urbanist-ExtraLight.ttf");
}

.div {
  /* min-height: 100vh;
  height: 100%; */

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.div_start {
  width: 50%;
  display: inline-block;
}

.logo {
  font-family: "logo";
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 150px;
}
.startTitle {
  font-family: "title2";
  font-size: 1.8em;
  z-index: 2;
  /* color: #5e454b; */
}

.start_img {
  width: 400px;
  /* max-width: none;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 1; */
}

.body {
  font-family: "title2";
  font-size: 1em;
}

.start_button {
  background-color: white;
  border: 0;
  /* border-color: wheat; */
  width: 270px;
  height: 70px;
  font-family: "title";
  font-size: 23px;
  /* color: white; */
  cursor: pointer;
  border-radius: 20px;
}

.start_str {
  font-family: "title";
  font-size: 23px;
  text-shadow: 0px 0px 1rem yellow;
  transition: 1s;
  z-index: 2;
}
/* .start_str:hover {
  text-shadow: 0 0 0.1em, 0 0 0.3em yellow;
} */
