@font-face {
  font-family: "title";
  src: url("fonts/NanumBarunpenR.ttf");
}
@font-face {
  font-family: "title2";
  src: url("fonts/IM_Hyemin-Regular.ttf");
}
@font-face {
  font-family: "logo";
  src: url("fonts/Urbanist-ExtraLight.ttf");
}
.div {
  /* min-height: 100vh;
  height: 100%;
  background-image: url("components/img/배경화면1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; */
  text-align: center;
}

.div_start {
  width: 50%;
  display: inline-block;
}

.logo {
  font-family: "logo";
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 150px;
}
.startTitle {
  font-family: "title";
  font-size: 30px;
  /* color: #5e454b; */
}

.start_img {
  width: 200px;
}

.body {
  font-family: "title2";
  font-size: 20px;
}

.start_button {
  background-color: white;
  border: 3;
  width: 210px;
  height: 40px;
  font-family: "title";
  font-size: 17px;
  cursor: pointer;
}
